* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 1200px;

    margin: 0 auto;

}

header {
    width: 100%;
    height: 200px;
    background: url(../../assets/bg-header-desktop.svg) no-repeat;
    background-size: cover;
    background-color: hsl(180, 29%, 50%);

}

main  {
    width: 100%;
    background: hsl(180, 52%, 96%);
    margin: 0 auto;

}

.list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 20px;
}

.list-item {
    list-style: none;
    background: white;
    box-shadow: 0px 11px 12px -4px #8382823b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-information{
    display: flex;
    gap: 20px;
}

.company-name{
    display: inline-block;
    color: hsl(180, 29%, 50%);
}

.new {
    background: hsl(180, 29%, 50%);
    color: white;
    border-radius: 20px;
    padding: 2px 8px;
}

.featured {
    background: hsl(180, 14%, 20%);
    color: white;
    border-radius: 20px;
    padding: 2px 8px;
}

.information{
    display: flex;
    color: hsl(180, 8%, 52%);
    font-weight: 600;
}

.dot {
    list-style: none;
    margin-left: 15px;
}

.dot:before {
    content: "·";
    font-size: 30px;
    vertical-align: sub;
    line-height: 0px;
    margin-right: 15px;
}

.tags {
    display: flex;
}