* {
    margin: 0;
    padding: 0;
}

html {
    background: lightseagreen;
}

header {
    width: 100vw;
    height: 200px;
    background: url(../../assets/bg-header-desktop.svg) no-repeat;
    background-size: cover;

}

main  {
    width: 80vw;
    height: 800px;
    background: lightpink;
    margin: 0 auto;

}