* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 1200px;

    margin: 0 auto;

}

header {
    width: 100%;
    height: 200px;
    background: url(../../assets/bg-header-desktop.svg) no-repeat;
    background-size: cover;
    background-color: hsl(180, 29%, 50%);

}

main  {
    width: 100%;
    background: hsl(180, 52%, 96%);
    margin: 0 auto;

}

.list-item {
    list-style: none;
}

.job-information{
    display: flex;
    gap: 20px;
}

.company-name{
    display: inline-block;
}

.new {
    background: hsl(180, 29%, 50%);
    color: white;
    border-radius: 20px;
    padding: 2px 8px;
}